<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

  <!--<h2>Select a ZIP code in NYC that you would like to learn more about!</h2> -->
  <!--<div>{{data}}</div>-->
  <h1>{{data[0]}}</h1>

<div> <!--FOOD-->
  {% for n in diet %}
   {% if loop.index0 is divisibleby 2 %}
      <div>{{diet[loop.index0]}} has a rating of {{diet[loop.index]}}</div>
   {% else %}
      <div>---</div>
   {% endif %}
  {% endfor %}
  <div>_____________________________________________</div>
</div>
  
<div> <!--HOME-->
  {% for n in home %}
   {% if loop.index0 is divisibleby 2 %}
      <div>{{home[loop.index0]}} has a rent of {{home[loop.index]}}</div>
   {% else %}
      <div>---</div>
   {% endif %}
  {% endfor %}
  <div>_____________________________________________</div>
</div>

<div> <!--ISSUE-->
  {% for n in prob %}
   {% if loop.index0 is divisibleby 2 %}
      <div>There were {{prob[loop.index]}} reported cases of {{prob[loop.index0]}}.</div>
   {% else %}
      <div>---</div>
   {% endif %}
  {% endfor %}
  <div>_____________________________________________</div>
</div>


<!--
  <div>
    
    <div>The best restaurant is {{data[1]}}, with a rating of {{data[2]}}.</div>
    <div>The cheapest housing is at {{data[3]}}, with a rent of ${{data[4]}} per month.</div>
    <div>The most common issue is {{data[5]}}.</div>
    <div>The average age of a resident in this area is {{data[6]}}.</div>
  </div>
-->


<p><a href="landing">Start over!</a></p>



<!--

  <form method="POST" action="/zipsearch">
  <p>Enter a ZIP code: <input type="text" name="zip"> <input type="submit" value="Search"></p>
  </form>

<p><a href="another">Go to the other page</a></p>


<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="click me!"></p>
</form>





-->

</body>


</html>
