<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>


  <h1>NYC Neighborhood Profiles</h1>
  <h2>Select a ZIP code in NYC that you would like to learn more about!</h2> 
  <!--<div>{{data}}</div>-->


  <form method="POST" action="/zipsearch">
  
  <p>Enter a ZIP code: <input type="text" name="zip"> </p>

  <p>Customize your search below! (Leave these blank for a general overview)</p>

  Favorite Food: 
  <select name="food_style">
    <option value="none">No Preference</option>
    <option value="American">American</option>
    <option value="Bagels">Bagels</option>
    <option value="Fast Food">Fast Food</option>
    <option value="Mediterranean">Mediterranean</option>
    <option value="Mexican">Mexican</option>
    <option value="Poke">Poke</option>
    <option value="Seafood">Seafood</option>
    <option value="Thai">Thai</option>
  </select>

  <br><br>

  Housing Budget ($/month): <input type="text" name="housing_budget">

  <br><br>

  Dealbreaker Issue: <input type="text" name="dealbreaker_issue">

  <br><br>

  <input type="submit" value="Search">
  </form>




</body>


</html>
