<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

  <!--<h2>Select a ZIP code in NYC that you would like to learn more about!</h2> -->
  <!--<div>{{data}}</div>-->
  <h1>Oh No!</h1>


<p><a href="landing">There was a problem with your input! Click here to try again.</a></p>



<!--

  <form method="POST" action="/zipsearch">
  <p>Enter a ZIP code: <input type="text" name="zip"> <input type="submit" value="Search"></p>
  </form>

<p><a href="another">Go to the other page</a></p>


<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="click me!"></p>
</form>





-->

</body>


</html>
