<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

  <!--<h2>Select a ZIP code in NYC that you would like to learn more about!</h2> -->
  <!--<div>{{data}}</div>-->
  <h1>{{data[0]}}</h1>


  

  <div>
    <div>The best restaurant is {{data[1]}}, with a rating of {{data[2]}}.</div>
    <div>The cheapest housing is at {{data[3]}}, with a rent of ${{data[4]}} per month.</div>
    <div>The most common issue is {{data[5]}}.</div>
    <div>The average age of a resident in this area is {{data[6]}}.</div>
  </div>



<p><a href="landing">Start over!</a></p>



<!--

  <form method="POST" action="/zipsearch">
  <p>Enter a ZIP code: <input type="text" name="zip"> <input type="submit" value="Search"></p>
  </form>

<p><a href="another">Go to the other page</a></p>


<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="click me!"></p>
</form>





-->

</body>


</html>
